@customLayout() 
    @slot('main')
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Vendors /</span> List of Vendors ({{vendors.length}})</h4>

        <div class="card">
          <h5 class="card-header"></h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Registered On</th>
                  <th>Cars</th>
                  <th>Rentals</th>
                  {{--  <th>Status</th>
                  <th>Actions</th>  --}}
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                @each(vendor in vendors)
                <tr>
                    <td>{{ vendor.fullName }}</td>
                  <td>{{ vendor.email }}</td>
                  <td>{{ vendor.createdAt }}</td>
                  <td>{{ vendor.cars.length}}</td>
                  <td>{{ vendor.rentProvided.length}}</td>
                  {{--  <td><span class="badge bg-label-success me-1">Verified</span></td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="deleteRow(this);"
                          ><i class="bx bx-trash me-1"></i> Delete</a
                        >
                      </div>
                    </div>
                  </td>  --}}
                </tr>
                @end
              </tbody>
            </table>
          </div>
        </div>
      </div>
    @end
@end